* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 24, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
}

.square {
    background-color: rgb(74, 67, 68);
    box-shadow: 0 0 15px rgba(100, 96, 96, 0.3);
    height: 20px;
    width: 20px;
    margin: 2px;
    transition: 3s ease;
    cursor: pointer;
}

.square:hover {
    transition-duration: 0s;
}